[{:y 0,
  :min-width nil,
  :box-sizing "content-box",
  :align-items "stretch",
  :scroll-top 0,
  :overflow nil,
  :w 240,
  :draw/op :node,
  :flex-wrap "nowrap",
  :max-width nil,
  :scroll-left 0,
  :z-index 0,
  :h 35,
  :opacity 1.0,
  :id 1,
  :class nil,
  :justify-content "flex-start",
  :display nil,
  :position "static",
  :x 0,
  :tag :main,
  :pointer-events nil,
  :listeners nil,
  :visibility nil}
 {:draw/op :rect,
  :x 4,
  :y 4,
  :w 232,
  :h 27,
  :color "#112233",
  :tag :button,
  :opacity 1.0}
 {:y 4,
  :edge :top,
  :color "#000000",
  :w 232,
  :draw/op :rect,
  :border? true,
  :h 2,
  :opacity 1.0,
  :x 4}
 {:y 4,
  :edge :right,
  :color "#000000",
  :w 2,
  :draw/op :rect,
  :border? true,
  :h 27,
  :opacity 1.0,
  :x 234}
 {:y 29,
  :edge :bottom,
  :color "#000000",
  :w 232,
  :draw/op :rect,
  :border? true,
  :h 2,
  :opacity 1.0,
  :x 4}
 {:y 4,
  :edge :left,
  :color "#000000",
  :w 2,
  :draw/op :rect,
  :border? true,
  :h 27,
  :opacity 1.0,
  :x 4}
 {:y 4,
  :min-width nil,
  :box-sizing "content-box",
  :align-items "stretch",
  :scroll-top 0,
  :overflow nil,
  :w 232,
  :draw/op :node,
  :flex-wrap "nowrap",
  :max-width nil,
  :scroll-left 0,
  :z-index 0,
  :h 27,
  :opacity 1.0,
  :id 2,
  :class nil,
  :justify-content "flex-start",
  :display nil,
  :position "static",
  :x 4,
  :tag :button,
  :pointer-events nil,
  :listeners (:click :key-down),
  :visibility nil}
 {:text "Run",
  :font-size 13,
  :opacity 1.0,
  :font-family "Arial",
  :draw/op :text,
  :x 14,
  :y 9,
  :color "#e6ebf5"}]
