[{:y 0,
  :min-width nil,
  :box-sizing "content-box",
  :align-items "stretch",
  :scroll-top 0,
  :overflow nil,
  :w 240,
  :draw/op :node,
  :break-inside nil,
  :flex-wrap "nowrap",
  :max-width nil,
  :orphans nil,
  :scroll-left 0,
  :z-index 0,
  :h 36,
  :opacity 1.0,
  :id 1,
  :class nil,
  :justify-content "flex-start",
  :frag/insets [4 4],
  :display "block",
  :position "static",
  :x 0,
  :tag :main,
  :pointer-events nil,
  :listeners nil,
  :visibility nil}
 {:draw/op :rect,
  :x 8,
  :y 8,
  :w 37.0,
  :h 29,
  :color "#112233",
  :tag :button,
  :opacity 1.0}
 {:y 8,
  :edge :top,
  :color "#000000",
  :w 37.0,
  :draw/op :rect,
  :border? true,
  :h 2,
  :opacity 1.0,
  :x 8}
 {:y 8,
  :edge :right,
  :color "#000000",
  :w 2,
  :draw/op :rect,
  :border? true,
  :h 29,
  :opacity 1.0,
  :x 43.0}
 {:y 35,
  :edge :bottom,
  :color "#000000",
  :w 37.0,
  :draw/op :rect,
  :border? true,
  :h 2,
  :opacity 1.0,
  :x 8}
 {:y 8,
  :edge :left,
  :color "#000000",
  :w 2,
  :draw/op :rect,
  :border? true,
  :h 29,
  :opacity 1.0,
  :x 8}
 {:y 8,
  :min-width nil,
  :box-sizing "border-box",
  :align-items "stretch",
  :scroll-top 0,
  :overflow nil,
  :w 37.0,
  :draw/op :node,
  :break-inside nil,
  :flex-wrap "nowrap",
  :max-width nil,
  :orphans nil,
  :scroll-left 0,
  :z-index 0,
  :h 29,
  :opacity 1.0,
  :id 2,
  :class nil,
  :justify-content "flex-start",
  :frag/insets [3 3],
  :display "inline-block",
  :position "static",
  :x 8,
  :tag :button,
  :pointer-events nil,
  :listeners (:click :key-down),
  :visibility nil}
 {:y 15,
  :color "#e6ebf5",
  :font-size 13.3333,
  :line/h 15,
  :draw/op :text,
  :opacity 1.0,
  :x 20,
  :font-family "Arial",
  :text "Run"}]
